@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar */
}

/* Estilo del track del scrollbar */
::-webkit-scrollbar-track {
  background: #e7e7e7; /* Color del track */
}

/* Estilo del thumb del scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #405cbb; /* Color del thumb */
  border-radius: 20px; /* Redondez del thumb */
  border: 1px solid #e7e7e7; /* Borde y separación del thumb */
}

